* { margin: 0; bottom: 0; list-style: none; box-sizing: border-box;}
header { 
    top: 0; min-width: 600px; 
    padding: 20px; display: flex; justify-content: center; align-items: center;
    justify-content: space-between; border-bottom: 1.5px solid #e5e5e5;
}
.logo { text-align: center; width: 100px; height: 100%; padding: 0 40px;}
.menu ul {
    display: flex; justify-content: center; align-items: center; gap: 20px;
}

.menu ul li a { 
    padding: 8px 16px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none; 
    color: inherit;        
    display: block;        /* 클릭 가능한 영역을 넓히기 편하게 설정 */ 
    transition: background-color 0.2s ease;
}

.menu ul li a:hover { cursor: pointer; background-color: #e5e5e5;}

.btn { display: flex; align-items: center;padding: 0 20px; gap: 10px;}
.btn button { 
    
    font-size: 11px;
    padding: 8px 12px;
}
.btn button:hover { 
    cursor: pointer; filter: brightness(90%); transition: background-color 0.2s ease;
}

.btn .login { border: 1px solid #e5e5e5; background-color: #fff; border-radius: 5px;}
.btn .signup { color: #fff; border: 1px solid #e5e5e5; background-color: #2755ee; border-radius: 5px;}